html
    head
        title= title
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u', crossorigin='anonymous')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js', integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa', crossorigin='anonymous')
        style
            include ../css/style.css
            include ../css/reset.css
            include ../css/style2.css
    body
        div.left
            div.separador
                a.logo
                    div.logoHead
                        img(src='http://i68.tinypic.com/o0nns8.png')
                nav
                    div
                        div
                            a.logo
                                img.fotoPerfil(src=foto_perfil)
                                h4.nombre= nombre + apellido
                ul.nav.nav-pills-pull-right
                    li.elements
                        a(href='/horario').fa-li.fa.fa-facebook Horario
                    |
                    li.elements.active
                        a(href='/todos') ToDo's
                    |
                    li.elements
                        a(href='/goals') Goals
        div.right
            header
                h3= title




            //h3= nombre_usuario